*.*~
userscripts/gm_scripts/*
userscripts/.tmp.drivedownload/*
*~
userscripts/10/config.json
userscripts/10/script.user.js
userscripts/10/version.txt
userscripts/13/config.json
userscripts/13/script.user.js
userscripts/13/version.txt
userscripts/14/config.json
userscripts/14/script.user.js
userscripts/14/version.txt
userscripts/15/config.json
userscripts/15/script.user.js
userscripts/15/version.txt
userscripts/18/config.json
userscripts/18/script.user.js
userscripts/18/version.txt
userscripts/26/config.json
userscripts/26/script.user.js
userscripts/26/version.txt
userscripts/31/config.json
userscripts/31/script.user.js
userscripts/31/version.txt
userscripts/34/config.json
userscripts/34/script.user.js
userscripts/34/version.txt
userscripts/7/config.json
userscripts/7/script.user.js
userscripts/7/version.txt
userscripts/8/config.json
userscripts/8/script.user.js
userscripts/8/version.txt
userscripts/19/config.json
userscripts/19/script.user.js
userscripts/19/version.txt
userscripts/21/config.json
userscripts/21/script.user.js
userscripts/21/version.txt
userscripts/24/config.json
userscripts/24/script.user.js
userscripts/24/version.txt
